.orderFormTitle {
  font-size: 18px;
  font-weight: 600;
}

.orderForm {
  width: 40%;
  // min-width: 220px;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 25px;
  position: relative;
//   padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 12px;
  }
}

.error {
  color: red;
  position: absolute;
  left: 56px;
  bottom: -37px;
  font-size: 18px;
}
